@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



.nunito{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size:xx-large;
}

.appear-apply{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}


/* For Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8a3ab9; /* Tailwind blue-500 */
  border-radius: 4px;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8a3ab9 #f1f1f1;
}
